.chat-screen {
  --padding-end: 20px;
}

.send-msg-button {
  --border-radius: 35px;
  height: 50px;
  width: 50px;
}

.link-icon {
  transform: rotate(-40deg);
}

.input-msg-wrapper {
  background-color: rgb(248, 248, 248);
  border-radius: 40px;
}

.header-md,
.header-collapse-none {
  /* height: 54px; */
  background-color: #128c7e;
}

.chat-msg-box {
  max-width: 70%;
  border-radius: 5px;
  padding: 5px;
  background: white;
  margin-top: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.chat-time {
  text-align: right;
  font-size: 0.7em;
  color: #999;
}

.chat-page {
  --padding-end: 10px;
  --padding-start: 10px;
}

.chat-page,
.input-toolbar {
  --background: #e5dcd3a8;
}
